n8n/workflows/01-ifyrt-gateway-router.json
{
  "name": "Ifyrt Gateway Router",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ifyrt-gateway",
        "responseMode": "responseNode",
        "options": {
          "rawBody": true
        }
      },
      "id": "2f73ef88-1d22-4548-8fb4-c9227fdf14e7",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -220,
        0
      ],
      "webhookId": "814cc43f-1c7c-4626-94ff-a83e9d49b8f7"
    },
    {
      "parameters": {
        "jsCode": "const crypto=require('crypto');const e=$input.first().json,p=e.body??e,h=Object.fromEntries(Object.entries(e.headers??{}).map(([k,v])=>[String(k).toLowerCase(),Array.isArray(v)?String(v[0]):String(v??'')])),raw=typeof e.rawBody==='string'&&e.rawBody?e.rawBody:JSON.stringify(p);const u=($env.SUPABASE_URL||'').replace(/\\/$/,''),k=$env.SUPABASE_SERVICE_ROLE_KEY||'',s=$env.INTERNAL_WEBHOOK_SECRET||'',tg=$env.TELEGRAM_BOT_TOKEN||'',sim=($env.SIM_WORKER_URL||'').replace(/\\/$/,''),live=($env.LIVE_EXEC_URL||'').replace(/\\/$/,''),copy=($env.COPY_WORKER_URL||'').replace(/\\/$/,''),dash=$env.DASHBOARD_URL||($env.RAILWAY_PUBLIC_DOMAIN?'https://'+$env.RAILWAY_PUBLIC_DOMAIN:'');if(!u||!k||!s||!tg)throw new Error('Missing required n8n env vars');const H=v=>crypto.createHmac('sha256',s).update(v).digest('hex');const EQ=(a,b)=>{const x=Buffer.from(String(a||'')),y=Buffer.from(String(b||''));return x.length===y.length&&crypto.timingSafeEqual(x,y);};const J=async(url,init={})=>{const r=await fetch(url,init),t=await r.text();let d=null;if(t){try{d=JSON.parse(t);}catch{d={raw:t};}}if(!r.ok)throw new Error('Request failed '+r.status+' '+url+' '+JSON.stringify(d));return d;};const SH=(x={})=>({apikey:k,Authorization:'Bearer '+k,...x});const B=q=>{const s=new URLSearchParams();for(const [k,v]of Object.entries(q||{})){if(v===undefined||v===null||v==='')continue;if(Array.isArray(v)){for(const i of v){if(i!==undefined&&i!==null&&i!=='')s.append(k,String(i));}}else s.append(k,String(v));}return s.toString();};const R=(n,b={})=>J(u+'/rest/v1/rpc/'+n,{method:'POST',headers:SH({'content-type':'application/json'}),body:JSON.stringify(b)});const Q=(t,q={})=>{const x=B(q);return J(u+'/rest/v1/'+t+(x?'?'+x:''),{method:'GET',headers:SH()});};const I=(t,b,o={})=>{const x=B(o.onConflict?{on_conflict:o.onConflict}:{});return J(u+'/rest/v1/'+t+(x?'?'+x:''),{method:'POST',headers:SH({'content-type':'application/json',Prefer:(o.merge?'resolution=merge-duplicates,':'')+'return=representation'}),body:JSON.stringify(b)});};const P=(t,q,b)=>{const x=B(q);return J(u+'/rest/v1/'+t+(x?'?'+x:''),{method:'PATCH',headers:SH({'content-type':'application/json',Prefer:'return=representation'}),body:JSON.stringify(b)});};const T=(chat,text)=>text?J('https://api.telegram.org/bot'+tg+'/sendMessage',{method:'POST',headers:{'content-type':'application/json'},body:JSON.stringify({chat_id:chat,text})}):Promise.resolve();const S=(base,path,b)=>base?J(base+path,{method:'POST',headers:{'content-type':'application/json','x-ifyrt-signature':H(JSON.stringify(b))},body:JSON.stringify(b)}):Promise.reject(new Error('Missing base URL for '+path));const N=v=>Array.isArray(v)?v:(v==null?[]:[v]);const D=v=>v?new Date(v).toISOString().slice(0,10):'n/a';const SQ=n=>({'buy-and-hold':0.01,'sma-crossover':0.01,breakout:0.01}[n]||0.01);if(!p?.event_type||!p?.user||!p?.chat_id)throw new Error('Invalid IfyrtEvent payload');if(!EQ(h['x-ifyrt-signature'],H(raw)))throw new Error('Invalid X-Ifyrt-Signature');const [user]=N(await R('ifyrt_upsert_telegram_user',{p_telegram_id:p.user.telegram_id,p_username:p.user.username,p_first_name:p.user.first_name}));if(!user?.user_id)throw new Error('User upsert failed');const gate=async c=>N(await R('ifyrt_subscription_gate',{p_user_id:user.user_id,p_capability:c}))[0]||{access:false,tier:user.tier||'free',reason:'upgrade_required'};const putTrades=async(trades,simulation_id,is_live,live_session_id=null)=>{if(!Array.isArray(trades)||!trades.length)return;await I('trades',trades.map(t=>({id:t.trade_id,simulation_id:is_live?null:simulation_id,live_session_id:is_live?live_session_id:null,user_id:t.user_id,is_live,exchange:t.exchange,symbol:t.symbol,side:t.side,type:t.type,quantity:t.quantity,fill_price:t.fill_price,fee:t.fee,slippage:t.slippage,pnl:t.pnl,strategy:t.strategy,executed_at:t.executed_at})),{onConflict:'id',merge:true});};const deny=(c,g)=>c==='live'||c==='dashboard'?'A paid subscription is required. Use /subscribe to upgrade.':g.reason==='trial_expired'?'Your 7-day trial has ended. Use /subscribe to continue.':'That action needs an active trial or paid subscription.';const b=p.payload||{};switch(p.event_type){case 'user.start':await T(p.chat_id,user.is_new?['Welcome to Ifyrt.','Your trial is active through '+D(user.trial_end)+'.','Try /strategies, /backtest, or /simulate to get started.'].join('\\n'):'Welcome back to Ifyrt. Use /status or /strategies to continue.');break;case 'user.help':break;case 'strategy.list':await T(p.chat_id,['Available strategies:','buy-and-hold: Open once and hold to completion.','sma-crossover: Buy fast-over-slow SMA crosses.','breakout: Buy strength above recent highs.'].join('\\n'));break;case 'subscription.view':{const g=await gate('subscription');await T(p.chat_id,['Subscription details','Tier: '+(g.tier||user.tier||'free'),'Trial ends: '+D(g.trial_end||user.trial_end),'Paid until: '+D(g.paid_until||user.paid_until)].join('\\n'));break;}case 'backtest.request':{const g=await gate('backtest');if(!g.access){await T(p.chat_id,deny('backtest',g));break;}const ex=b.exchange||'binance',interval=b.interval||'1h',candles=await Q('ohlcv',{select:'open_time,open,high,low,close,volume',exchange:'eq.'+ex,symbol:'eq.'+b.symbol,interval:'eq.'+interval,open_time:['gte.'+b.from,'lte.'+b.to],order:'open_time.asc'});if(!Array.isArray(candles)||!candles.length){await T(p.chat_id,'No OHLCV rows were found for that range. Load historical candles into Supabase first.');break;}const [simRow]=N(await I('simulations',{user_id:user.user_id,type:'backtest',status:'queued',strategy:b.strategy,symbol:b.symbol,exchange:ex,from_date:b.from,to_date:b.to,started_at:new Date().toISOString()}));const result=await S(sim,'/backtests/run',{user_id:user.user_id,simulation_id:simRow.id,strategy:b.strategy,symbol:b.symbol,exchange:ex,candles:candles.map(r=>({open:Number(r.open),high:Number(r.high),low:Number(r.low),close:Number(r.close),volume:Number(r.volume),timestamp:r.open_time})),initial_cash:Number($env.SIM_INITIAL_CASH||10000),fee_bps:Number($env.SIM_FEE_BPS||10),trade_quantity:SQ(b.strategy),close_on_complete:true});await putTrades(result.trades,simRow.id,false);await P('simulations',{id:'eq.'+simRow.id},{status:result.status,result,completed_at:new Date().toISOString()});await T(p.chat_id,['Backtest complete.','Strategy: '+result.strategy+' | Pair: '+result.symbol,'Trades: '+(result.metrics?.total_trades??0),'Ending equity: '+Number(result.metrics?.ending_equity??0).toFixed(2),'Realized PnL: '+Number(result.metrics?.realized_pnl??0).toFixed(2),'Max drawdown: '+Number(result.metrics?.max_drawdown_pct??0).toFixed(2)+'%'].join('\\n'));break;}case 'simulation.start':{const g=await gate('simulate');if(!g.access){await T(p.chat_id,deny('simulate',g));break;}const [active]=N(await R('ifyrt_get_active_simulation',{p_user_id:user.user_id}));if(active?.simulation_id){await T(p.chat_id,'You already have an active simulation. Use /sim_stop before starting another one.');break;}const r=await S(sim,'/simulations/start',{user_id:user.user_id,strategy:b.strategy,symbol:b.symbol,exchange:b.exchange||'binance'});if(!r.accepted||!r.summary){await T(p.chat_id,'Simulation start failed: '+(r.reason||'unknown error'));break;}await I('simulations',{id:r.summary.simulation_id,user_id:user.user_id,type:'realtime',status:'running',strategy:r.summary.strategy,symbol:r.summary.symbol,exchange:r.summary.exchange,started_at:r.summary.started_at,result:r.summary},{onConflict:'id',merge:true});await T(p.chat_id,['Simulation started.','Strategy: '+r.summary.strategy+' | Pair: '+r.summary.symbol,'Simulation ID: '+r.summary.simulation_id,'Use /status to monitor and /sim_stop to end it.'].join('\\n'));break;}case 'simulation.stop':{const [active]=N(await R('ifyrt_get_active_simulation',{p_user_id:user.user_id}));if(!active?.simulation_id){await T(p.chat_id,'No active simulation is running right now.');break;}const r=await S(sim,'/simulations/stop',{simulation_id:active.simulation_id,user_id:user.user_id});if(!r.accepted||!r.summary){await T(p.chat_id,'Simulation stop failed: '+(r.reason||'unknown error'));break;}await putTrades(r.summary.trades,active.simulation_id,false);await P('simulations',{id:'eq.'+active.simulation_id},{status:'stopped',completed_at:r.summary.stopped_at||new Date().toISOString(),result:r.summary});await T(p.chat_id,['Simulation stopped.','Strategy: '+r.summary.strategy+' | Pair: '+r.summary.symbol,'Ticks processed: '+(r.summary.ticks_processed??0),'Current equity: '+Number(r.summary.metrics?.current_equity??0).toFixed(2),'Realized PnL: '+Number(r.summary.metrics?.realized_pnl??0).toFixed(2),'Unrealized PnL: '+Number(r.summary.metrics?.unrealized_pnl??0).toFixed(2)].join('\\n'));break;}case 'user.status':{const g=await gate('status');if(!g.access){await T(p.chat_id,deny('status',g));break;}const snap=await R('ifyrt_status_snapshot',{p_user_id:user.user_id})||{},sub=snap.subscription||{},a=snap.active_simulation,l=snap.active_live_session,copies=Array.isArray(snap.copy_subscriptions)?snap.copy_subscriptions:[],bt=snap.recent_backtest,last=snap.last_trade;const lines=['Ifyrt status','Subscription: '+(sub.tier||user.tier||'free'),'Trial ends: '+D(sub.trial_end||user.trial_end),'Paid until: '+D(sub.paid_until||user.paid_until),'Live mode: '+(user.live_mode?'ON':'OFF'),a?'Active simulation: '+a.strategy+' on '+a.symbol+' ('+a.exchange+')':'Active simulation: none',l?'Live session: '+l.strategy+' on '+l.symbol+' ('+l.exchange+')':'Live session: none',copies.length?'Copy trading: '+copies.map(r=>'@'+(r.leader_username||r.leader_id)+' ['+r.mode+']').join(', '):'Copy trading: none'];if(bt)lines.push('Last backtest: '+bt.strategy+' on '+bt.symbol+' ('+bt.status+')');if(last)lines.push('Last trade: '+last.side+' '+last.symbol+' at '+Number(last.fill_price||0).toFixed(2));await T(p.chat_id,lines.join('\\n'));break;}case 'live.enable':{const g=await gate('live');if(!g.access){await T(p.chat_id,deny('live',g));break;}const [c]=N(await R('ifyrt_resolve_live_context',{p_user_id:user.user_id}));if(!c?.symbol||!c?.strategy){await T(p.chat_id,'Start a simulation first so live mode has a symbol and strategy context to promote.');break;}if(!c.key_reference){await T(p.chat_id,'No secure API key is stored for that exchange yet. Use /setkey first.');break;}const r=await S(live,'/sessions/enable',{user_id:user.user_id,exchange:c.exchange,symbol:c.symbol,strategy:c.strategy,tier:c.tier,key_reference:c.key_reference});if(!r.accepted){await T(p.chat_id,'Live enable failed: '+(r.reason||'unknown error'));break;}await I('live_sessions',{user_id:user.user_id,exchange:c.exchange,symbol:c.symbol,strategy:c.strategy,status:'active'});await R('ifyrt_set_user_live_mode',{p_user_id:user.user_id,p_enabled:true});await T(p.chat_id,['LIVE MODE ENABLED','Symbol: '+c.symbol,'Strategy: '+c.strategy,'Use /live_off to disable immediately.'].join('\\n'));break;}case 'live.disable':{const rows=await Q('live_sessions',{select:'id,exchange,symbol,strategy,status,started_at',user_id:'eq.'+user.user_id,status:'eq.active',order:'started_at.desc',limit:1}),ls=Array.isArray(rows)?rows[0]:null;if(!ls){await T(p.chat_id,'No active live session is running right now.');break;}const r=await S(live,'/sessions/disable',{user_id:user.user_id,exchange:ls.exchange,symbol:ls.symbol,strategy:ls.strategy,tier:user.tier||'free'});if(!r.accepted){await T(p.chat_id,'Live disable failed: '+(r.reason||'unknown error'));break;}await P('live_sessions',{id:'eq.'+ls.id},{status:'stopped',stopped_at:new Date().toISOString(),stop_reason:'user_request'});await R('ifyrt_set_user_live_mode',{p_user_id:user.user_id,p_enabled:false});await T(p.chat_id,'Live mode disabled.');break;}case 'copy.start':{const g=await gate('copy');if(!g.access){await T(p.chat_id,deny('copy',g));break;}const [t]=N(await R('ifyrt_resolve_copy_target',{p_leader_lookup:b.leader}));if(!t?.leader_id){await T(p.chat_id,'That leader could not be found. Ask them to set a Telegram username or copy profile first.');break;}if(!t.allow_copy){await T(p.chat_id,'That trader has not enabled copy access.');break;}await R('ifyrt_open_copy_subscription',{p_follower_id:user.user_id,p_leader_id:t.leader_id,p_mode:b.mode||'sim'});await T(p.chat_id,'Copy routing enabled for @'+(t.username||b.leader)+' in '+(b.mode||'sim')+' mode.');break;}case 'copy.stop':{const stopped=await R('ifyrt_stop_copy_subscriptions',{p_follower_id:user.user_id});if(copy){await S(copy,'/copy/stop',{follower_id:user.user_id}).catch(()=>undefined);}await T(p.chat_id,Number(stopped||0)>0?'Copy trading stopped.':'No active copy subscriptions were found.');break;}case 'copy.list':{const rows=await Q('copy_profiles',{select:'username,performance_7d',is_public:'eq.true',order:'performance_7d.desc',limit:10})||[];if(!rows.length){await T(p.chat_id,'No public copy profiles are available yet.');break;}await T(p.chat_id,['Public Copy Profiles:',...rows.map(r=>'@'+r.username+' | 7d: '+(Number(r.performance_7d||0)*100).toFixed(2)+'%')].join('\\n'));break;}case 'copy.stats':{const stats=await R('ifyrt_copy_follower_stats',{p_user_id:user.user_id})||{};await T(p.chat_id,['Copy Trading Stats','Realized PnL: '+Number(stats.realized_pnl||0).toFixed(2),'Active subscriptions: '+(stats.active_count||0)].join('\\n'));break;}case 'copy.share':{await I('copy_profiles',{user_id:user.user_id,username:user.username,is_public:true,allow_copy:true},{onConflict:'user_id',merge:true});await T(p.chat_id,'Your profile is now public and copyable.');break;}case 'copy.hide':{await P('copy_profiles',{user_id:'eq.'+user.user_id},{is_public:false,allow_copy:false});await T(p.chat_id,'Your profile is now hidden.');break;}case 'dashboard.request':{const g=await gate('dashboard');if(!g.access){await T(p.chat_id,deny('dashboard',g));break;}await T(p.chat_id,dash?'Dashboard: '+dash:'Set DASHBOARD_URL in n8n before using /dashboard.');break;}case 'key.submit':{await R('ifyrt_store_exchange_api_keys',{p_user_id:user.user_id,p_exchange:b.exchange,p_api_key:b.api_key,p_api_secret:b.api_secret,p_label:b.label||null});await T(p.chat_id,'Key saved securely. The original Telegram message was already deleted by the bot.');break;}default:await T(p.chat_id,'That event type is not wired in n8n yet: '+p.event_type);}return [{json:{ok:true,event_type:p.event_type,user_id:user.user_id,processed_at:new Date().toISOString()}}];"
      },
      "id": "f85b5b0f-a12c-4e08-bf3d-240c37c1ec93",
      "name": "Route Event",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        40,
        0
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "497ad993-a4da-4897-8156-c1b4cdb51640",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        320,
        0
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Route Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Event": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true
  }
}
